<link rel="import" href="../bower_components/polymer/polymer.html">

<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">

<dom-module id="metric-dropdown">
    <template>
        <paper-dropdown-menu label="Metric" selected-item-label="{{metric}}" selected-item="{{metricItem}}" no-animations="True">
            <paper-menu class="dropdown-content">
                <paper-item label="euclidean">Euclidean L2</paper-item>
                <paper-item label="minkowski">Minkowski L1</paper-item>
                <paper-item label="chebyshev">Chebyshev L∞</paper-item>
                <paper-item label="seuclidean">Standardized Euclidean</paper-item>
                <paper-item label="cosine">Cosine</paper-item>
                <paper-item label="correlation">Correlation</paper-item>
                <paper-item label="hamming">Hamming</paper-item>
            </paper-menu>
        </paper-dropdown-menu>
    </template>

    <script>
        Polymer({
            is: 'metric-dropdown',

            properties: {
                metric: {
                    type: String,
                    value: 'euclidean',
                    notify: true
                },

                metricItem: {
                    type: Object,
                    notify: true
                }
            },
        });
    </script>
</dom-module>

